<!-- <!DOCTYPE html>
<html>
<head>
    <title>Weather</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="jumbotron text-center">
		<h1>Weather</h1>
	</div>


	<div class="container">
		<form method="POST" action="">
	{% csrf_token %}
	<input type="text" name="search">
	<button type="submit">search</button>
</form><br><br><br><br>


<table class="text-center">
			<tr>
				<td class="text-weight-bold">
					{{ weather.0.city }}
				</td>
				<td>{{ weather.0.d_t }}</td>
				<td>{{ weather.0.description }}</td>
				<td>
					<img src="https://openweathermap.org/img/w/{{ weather.0.icon }}.png" class="img-rounded" name="wheather_img" id="weather_img">
					{{ weather.0.temperature }}<sup>F</sup>
				</td>
				<td>Pressure : {{ weather.0.pressure }}</td>
				<td>Humidity : {{ weather.0.humidity }}</td>
				<td>wind : {{ weather.0.wind }}</td>
			</tr>

		</table>


	<!-- {% for weather in new_weather %}
		<table class="text-center">
			<tr>
				<td class="text-weight-bold">
					{{ weather.city }}
				</td>
				<td>{{ weather.d_t }}</td>
				<td>{{ weather.description }}</td>
				<td>
					<img src="https://openweathermap.org/img/w/{{ weather.icon }}.png" class="img-rounded" name="wheather_img" id="weather_img">
					{{ weather.temperature }}<sup>F</sup>
				</td>
				<td>Pressure : {{ weather.pressure }}</td>
				<td>Humidity : {{ weather.humidity }}</td>
				<td>wind : {{ weather.wind }}</td>
			</tr>

		</table>
	{% endfor %} -->
        		
	</div>

</body>
</html> -->